body {
  background-color: #000000;
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 30px;
  float: left;
}

.App-header {
  background-color: #0f0f03;
  border-bottom: 2px solid #bf874aaa;
  height: 30px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: .8em;
}

.App-intro {
  font-size: large;
}

.media-frame {
  text-align: center;
  width: 100%;
  background-color: #333333;
  display: block;
  box-shadow: 0px 0px 30px #000000 inset;
  margin: 0 auto;
  padding: 20px 0;
}


.media-frame > video {
  width: 800px;
  height: 600px;
  margin: 0px auto;
  background-color: #000000;
}

.media-frame > button {
  margin: 0 10px;
}

.canvas-frame {
  display: none;
}

.controls {
  text-align: center;
  width: 100%;
  border-top: 2px solid #bf874aaa;
  margin: 0 auto;
}

button {
  font-weight: 300;
  color: #efeeed;
  border: 0;
  text-align: center;
  border-radius: .4rem;
  margin-top: 15px;
  padding: 5px 40px;
  min-width: 150px;
  outline: none;
}
button:hover {
  cursor: pointer;
}
button:active, 
button:focus {
  outline: none;
}

a, a:active, a:focus {
  outline: none;
}

.button-start,
.button-photo,
.button-download {
  background-color: #02746e;
  font-size: 1.8em;
  padding: 10px;
  width: 50%;
  max-width: 800px;
}
.button-start:hover,
.button-photo:hover,
.button-download:hover {
  background-color: #005c57;
}

.button-cancel {
  background-color: #b03722;
}
.button-cancel:hover {
  background-color: #451f14;
}

.share-modal {
  position: absolute;
  top: 54px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width: 640px;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: .15rem;
  background-color: #efeeed;
}

.share-modal > .frame {
  width: 100%;
  height: 480px;
}

.share-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #33333352;
}

.share-controls {
  text-align: center;
}

.overlay-window-flash {
  display: none;
}

.overlay-flash {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 600px;
  background-color: #ffffff52;
  animation: flash 0.5s;
  animation-fill-mode:forwards;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.overlay-window-countdown {
  width: 800px;
  height: 600px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #efeeed;
}

.overlay-countdown {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  margin: auto;
  width: 800px;
  height: 600px;
  background-color: #00000052;
}

.overlay-off {
  display: none;
}